.logo{
    border-radius: 100%;
}

.nameHead {
    padding-top: 0.5rem;
    padding-left: 1rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.h-wrapper{
    position: sticky;
    top: 0;
    z-index: 2;
}

.h-wrapper{
    background-color: black;
    color: white;
    border-bottom: 0.2rem solid #0e0b19;
    
}

.h-container{
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    /* color: var(--secondary);
      less opacity than parent component */

}

.h-menu{
    gap: 2rem;
}

.h-menu>*:hover{
    /* padding: 6px; */
    border-radius: 5%;
    cursor: pointer;
    background-color: grey;
}

